<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.liti.crm.dao.auto.compactgiftMapper">
  <resultMap id="BaseResultMap" type="cn.liti.crm.model.auto.compactgift">
    <result column="COMPACTGIFTID" jdbcType="VARCHAR" property="compactgiftid" />
    <result column="CODE" jdbcType="DECIMAL" property="code" />
    <result column="CODENAME" jdbcType="VARCHAR" property="codename" />
    <result column="COMPACTGIFTSTART" jdbcType="DATE" property="compactgiftstart" />
    <result column="COMPACTGIFTEND" jdbcType="DATE" property="compactgiftend" />
    <result column="COMPACTGIFTNOTE" jdbcType="VARCHAR" property="compactgiftnote" />
    <result column="ISLONGTERM" jdbcType="VARCHAR" property="islongterm" />
    <result column="CREATEDBY" jdbcType="VARCHAR" property="createdby" />
    <result column="CREATEDWHEN" jdbcType="DATE" property="createdwhen" />
    <result column="VERSIONNO" jdbcType="DECIMAL" property="versionno" />
    <result column="UPDATEDBY" jdbcType="VARCHAR" property="updatedby" />
    <result column="UPDATEDWHEN" jdbcType="DATE" property="updatedwhen" />
  </resultMap>
  <insert id="insert" parameterType="cn.liti.crm.model.auto.compactgift">
    insert into CRM_BAS_COMPACTGIFT (COMPACTGIFTID, CODE, CODENAME, 
      COMPACTGIFTSTART, COMPACTGIFTEND, COMPACTGIFTNOTE, 
      ISLONGTERM, CREATEDBY, CREATEDWHEN, 
      VERSIONNO, UPDATEDBY, UPDATEDWHEN
      )
    values (#{compactgiftid,jdbcType=VARCHAR}, #{code,jdbcType=DECIMAL}, #{codename,jdbcType=VARCHAR}, 
      #{compactgiftstart,jdbcType=DATE}, #{compactgiftend,jdbcType=DATE}, #{compactgiftnote,jdbcType=VARCHAR}, 
      #{islongterm,jdbcType=VARCHAR}, #{createdby,jdbcType=VARCHAR}, #{createdwhen,jdbcType=DATE}, 
      #{versionno,jdbcType=DECIMAL}, #{updatedby,jdbcType=VARCHAR}, #{updatedwhen,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.liti.crm.model.auto.compactgift">
    insert into CRM_BAS_COMPACTGIFT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="compactgiftid != null">
        COMPACTGIFTID,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="codename != null">
        CODENAME,
      </if>
      <if test="compactgiftstart != null">
        COMPACTGIFTSTART,
      </if>
      <if test="compactgiftend != null">
        COMPACTGIFTEND,
      </if>
      <if test="compactgiftnote != null">
        COMPACTGIFTNOTE,
      </if>
      <if test="islongterm != null">
        ISLONGTERM,
      </if>
      <if test="createdby != null">
        CREATEDBY,
      </if>
      <if test="createdwhen != null">
        CREATEDWHEN,
      </if>
      <if test="versionno != null">
        VERSIONNO,
      </if>
      <if test="updatedby != null">
        UPDATEDBY,
      </if>
      <if test="updatedwhen != null">
        UPDATEDWHEN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="compactgiftid != null">
        #{compactgiftid,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=DECIMAL},
      </if>
      <if test="codename != null">
        #{codename,jdbcType=VARCHAR},
      </if>
      <if test="compactgiftstart != null">
        #{compactgiftstart,jdbcType=DATE},
      </if>
      <if test="compactgiftend != null">
        #{compactgiftend,jdbcType=DATE},
      </if>
      <if test="compactgiftnote != null">
        #{compactgiftnote,jdbcType=VARCHAR},
      </if>
      <if test="islongterm != null">
        #{islongterm,jdbcType=VARCHAR},
      </if>
      <if test="createdby != null">
        #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="createdwhen != null">
        #{createdwhen,jdbcType=DATE},
      </if>
      <if test="versionno != null">
        #{versionno,jdbcType=DECIMAL},
      </if>
      <if test="updatedby != null">
        #{updatedby,jdbcType=VARCHAR},
      </if>
      <if test="updatedwhen != null">
        #{updatedwhen,jdbcType=DATE},
      </if>
    </trim>
  </insert>
</mapper>