<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.liti.crm.dao.auto.companyMapper">
  <resultMap id="BaseResultMap" type="cn.liti.crm.model.auto.company">
    <id column="CYID" jdbcType="VARCHAR" property="cyid" />
    <result column="COMPANYID" jdbcType="VARCHAR" property="companyid" />
    <result column="COMPANYNAME" jdbcType="VARCHAR" property="companyname" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="CREATEDBY" jdbcType="VARCHAR" property="createdby" />
    <result column="CREATEDWHEN" jdbcType="DATE" property="createdwhen" />
    <result column="VERSIONNO" jdbcType="DECIMAL" property="versionno" />
    <result column="UPDATEDBY" jdbcType="VARCHAR" property="updatedby" />
    <result column="UPDATEDWHEN" jdbcType="DATE" property="updatedwhen" />
    <result column="DELETED" jdbcType="DECIMAL" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    CYID, COMPANYID, COMPANYNAME, ADDRESS, CREATEDBY, CREATEDWHEN, VERSIONNO, UPDATEDBY, 
    UPDATEDWHEN, DELETED
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CRM_BAS_COMPANY
    where CYID = #{cyid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CRM_BAS_COMPANY
    where CYID = #{cyid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.liti.crm.model.auto.company">
    insert into CRM_BAS_COMPANY (CYID, COMPANYID, COMPANYNAME, 
      ADDRESS, CREATEDBY, CREATEDWHEN, 
      VERSIONNO, UPDATEDBY, UPDATEDWHEN, 
      DELETED)
    values (#{cyid,jdbcType=VARCHAR}, #{companyid,jdbcType=VARCHAR}, #{companyname,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{createdby,jdbcType=VARCHAR}, #{createdwhen,jdbcType=DATE}, 
      #{versionno,jdbcType=DECIMAL}, #{updatedby,jdbcType=VARCHAR}, #{updatedwhen,jdbcType=DATE}, 
      #{deleted,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cn.liti.crm.model.auto.company">
    insert into CRM_BAS_COMPANY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cyid != null">
        CYID,
      </if>
      <if test="companyid != null">
        COMPANYID,
      </if>
      <if test="companyname != null">
        COMPANYNAME,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="createdby != null">
        CREATEDBY,
      </if>
      <if test="createdwhen != null">
        CREATEDWHEN,
      </if>
      <if test="versionno != null">
        VERSIONNO,
      </if>
      <if test="updatedby != null">
        UPDATEDBY,
      </if>
      <if test="updatedwhen != null">
        UPDATEDWHEN,
      </if>
      <if test="deleted != null">
        DELETED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cyid != null">
        #{cyid,jdbcType=VARCHAR},
      </if>
      <if test="companyid != null">
        #{companyid,jdbcType=VARCHAR},
      </if>
      <if test="companyname != null">
        #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="createdby != null">
        #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="createdwhen != null">
        #{createdwhen,jdbcType=DATE},
      </if>
      <if test="versionno != null">
        #{versionno,jdbcType=DECIMAL},
      </if>
      <if test="updatedby != null">
        #{updatedby,jdbcType=VARCHAR},
      </if>
      <if test="updatedwhen != null">
        #{updatedwhen,jdbcType=DATE},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.liti.crm.model.auto.company">
    update CRM_BAS_COMPANY
    <set>
      <if test="companyid != null">
        COMPANYID = #{companyid,jdbcType=VARCHAR},
      </if>
      <if test="companyname != null">
        COMPANYNAME = #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="createdby != null">
        CREATEDBY = #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="createdwhen != null">
        CREATEDWHEN = #{createdwhen,jdbcType=DATE},
      </if>
      <if test="versionno != null">
        VERSIONNO = #{versionno,jdbcType=DECIMAL},
      </if>
      <if test="updatedby != null">
        UPDATEDBY = #{updatedby,jdbcType=VARCHAR},
      </if>
      <if test="updatedwhen != null">
        UPDATEDWHEN = #{updatedwhen,jdbcType=DATE},
      </if>
      <if test="deleted != null">
        DELETED = #{deleted,jdbcType=DECIMAL},
      </if>
    </set>
    where CYID = #{cyid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.liti.crm.model.auto.company">
    update CRM_BAS_COMPANY
    set COMPANYID = #{companyid,jdbcType=VARCHAR},
      COMPANYNAME = #{companyname,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      CREATEDBY = #{createdby,jdbcType=VARCHAR},
      CREATEDWHEN = #{createdwhen,jdbcType=DATE},
      VERSIONNO = #{versionno,jdbcType=DECIMAL},
      UPDATEDBY = #{updatedby,jdbcType=VARCHAR},
      UPDATEDWHEN = #{updatedwhen,jdbcType=DATE},
      DELETED = #{deleted,jdbcType=DECIMAL}
    where CYID = #{cyid,jdbcType=VARCHAR}
  </update>
</mapper>